<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'base_navbar.html' %}
    <div class="container">
        <h1>Logout</h1>
        <p>You have been logged out.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
